@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body{
    background: url('../src/images/vladimir-mokry-G-4wX5tZNuE-unsplash.jpg');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 65%;
    margin: auto;
    margin-top: 2rem;
}

.col-1{
    background-color: #d3d3d3;
    border-radius: 2rem;
    box-shadow: 0px 5px 20px 0px #000000a2;
}
.col-1 form{
    padding: 2rem;
    margin-top: -2.5rem;
    min-width: 22rem;
}
.col-1 .card-creation img{
    width: 14rem;
    height: 14rem;
}
.col-1 h2{}
.col-1 p{}
.col-1 .div{
    background-color: #054F77;
    width: 100%;
    height: 0.2rem;
}

input{
    width: 100%;
    outline: none;
}
.col-1 .name{}
.col-1 #input-name{}
.col-1 .local{}
.col-1 #input-local{}
.col-1 #register{
    color: #fff;
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    background-color: #054F77;
    border: none;
}

.col-1 #register:hover{
    cursor: pointer;
    background-color: #000875;
    border: solid 1px #fff;
    transform: scale(1.1);
    box-shadow: 2px 7px 15px rgba(0,0,0,0.75);
}

.col-2{
    background: rgba(255, 255, 255, 0.13);
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0px 0px 10px 0px #00000075;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5.6px);
    min-width: 25rem;
    height: 35rem;
    overflow: hidden;
    overflow-y: scroll;
}
.col-2::-webkit-scrollbar{
    width: 0.4rem;
}
.col-2::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 1rem;
}

.col-2 h2{}

.col-2 .company{
    width: 20rem;
    margin: auto;
}

.col-2 .card-company{
    border: 1px solid #fff;
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.col-2 .card-book h4{}
.col-2 .section-local{
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: -1rem;
}
.col-2 .section-local p{}
.col-2 .section-local .date{}